<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="nav" class="hidden" />
      <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
      <div class="nav-container">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/cadastro/">CADASTRAR</a></li>
          <li><a href="/#cards">POKEMON</a></li>
          <li><a href="/curiosidade">CURIOSIDADE</a></li>
        </ul>
      </div>
    </nav>
    <div id="tituloCuriosidade">
      <h2>Pokémon Scarlet e Pokémon Violet</h2>
    </div>
    <main>
      <section id="scarletViolet">
        <div class="texto1">
          <p>
            No mês de fevereiro de 2022, durante o evento Pokémon Presents, onde
            aconteceu o aniversário de 26 anos da franquia, The Pokémon Company
            trouxe as novidades da nona e nova geração, Pokémon Scarlet e
            Pokémon Violet.
          </p>
        </div>
        <div id="video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/MAmueMsFR1o"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="texto1">
          <p>
            Pokémon Scarlet e Pokémon Violet serão lançados mundialmente no
            final do ano de 2022, e será exclusivo para o console da Nintendo,
            Nintendo Switch.
          </p>
        </div>
        <div class="texto1">
          <p>
            O jogo promete um jogo aberto com muitas cidades sem barreira, que
            confundem com a naturalidade ao entorno selvagem. Os pokémons serão
            vistos em todos os lugares, nos céus, nos mares e até pelas ruas.
          </p>
        </div>
        <div class="imgCuriosidade">
          <img
            src="https://pizzafria.ig.com.br/wp-content/uploads/2022/02/Pokemon_Violet_Scarlet_Screenshot_1-1024x576.jpg.webp"
            alt="imagem das ruas"
          />
          <figcaption>
            Habitat de Pikachu em Scarlet e Violet: aparentemente pelas ruas de
            Barcelona (Imagem: Divulgação/The Pokémon Company)
          </figcaption>
        </div>
        <div class="texto1">
          <p>
            E já podemos conhecer o trio inicial: Sprigatito, um pokémon gato de
            grama; Fuecoco, um crocodilo do tipo fogo; e Quaxly, um patinho do
            tipo água.
          </p>
        </div>
        <div class="imgCuriosidade">
          <img
            src="https://pizzafria.ig.com.br/wp-content/uploads/2022/02/Pokemon_Violet_Scarlet_Screenshot_5-1024x576.jpg.webp"
            alt="3 pokémons iniciais"
          />
          <figcaption>
            Sprigatito, Fuecoco e Quaxly são os iniciais da nona geração de
            Pokémon. (Imagem: Divulgação/The Pokémon Company)
          </figcaption>
        </div>
      </section>
    </main>
    <footer>
      <a
        href="https://www.linkedin.com/in/kellbber-barcarolo-71a848230/"
        target="_blank"
        >Kellber Barcolo</a>
      <a href="https://www.linkedin.com/in/monicashdias/" target="_blank"
        >Monica Dias</a>
      <p>Todos os direitos reservados &copy;</p>
    </footer>
  </body>
</html>
